.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__nav {
  filter: drop-shadow(0 0 0.1rem var(--Color8));
  background-color: var(--Color10);
  display: flex;
  justify-content: space-around;
  padding-block: 2rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.footer__links {
  stroke: var(--Color7);
  fill: none;
}

.footer .active {
  fill: var(--Color1);
  stroke: var(--Color1);
}
