.random {
  background-color: var(--Color10);
  padding: 20px;
}
.random__meal {
  padding-bottom: 20px;
}
.random__card {
  background-image: url(/images/Card_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  /* height: 230px; */

  margin-top: 10px;
  overflow: hidden;
}
.random__foodPic {
  display: flex;
  justify-content: end;
}
.random__foodPic img {
  width: 150px;
  z-index: 1;
}
.random__wrapper p {
  display: flex;
  align-items: center;
}
.random__h4 {
  color: var(--Color10);
  width: 50vw;
  margin-left: 10px;
  margin-top: -50px;
  margin-bottom: 10px;
}
.randomLink {
  text-decoration: none;
  color: var(--Color10);
}
.random__cardText {
  color: var(--Color9);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 30px;
}
.circle {
  width: 30px;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 5px;
  margin-left: -20px;
}
.random__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  color: var(--Color9);
  margin-top: 30px;
  padding-bottom: 1.25rem;
}
.random__infoZeile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
