.Home__Search input {
  border-style: none;
  font-size: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  width: 100%;
}
.Home__Search {
  display: flex;

  border: 1px solid var(--Color4);
  border-radius: 20px;
  margin-inline: 1.5rem;
  padding-inline: 1.5rem;
}
.Home__Search::placeholder {
  color: var(--Color7);
  font-size: 1rem;
}
.Home__Search:focus {
  outline: none;
}

.Home__Search input:focus {
  outline: none;
}
