@font-face {
  font-family: Montserrat;
  src: url(/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Inter;
  src: url(/font/Inter-VariableFont_slnt\wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/** Colors: */
:root {
  /* Brand Color */
  --Color1: #70b9be;
  --Color2: #353535;

  /* Accent */
  --Color3: #3ca0a7;
  --Color4: #c7e3e5;

  /* Greyscale */
  --Color5: #0a2533;
  --Color6: #48525f;
  --Color7: #97a2b0;
  --Color8: #cbd4de;
  --Color9: #f1f5f5;
  --Color10: #ffffff;
}

html {
  font-family: Montserrat;
}

image {
  max-width: 100%;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Color5);
}

body {
  padding-block-end: 20rem;
}
